* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.card{
    width: clamp(200px,10vw,250px);
    height: clamp(300px,15vw,380px);
    border-radius: 10px;
    background-color: var(--card-bg-color);
    padding: 10px 7px;


    /* color: #0e0d1f; */
    color: wheat;
    
    align-items: center;
    cursor: pointer;
    
   

   
}
.card:hover{
    transform: scale(1.04);
    transition: 0.3s ease-in-out;
}
.card img{
    
    width: 150px;

}

.h-w{
    margin-top: 10px;
    font-weight: 600;
}
.abilities{
    margin-top: 3px;
}