#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --card-bg-color:rgba(63, 58, 223,0.8);
}

.display-cards{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  row-gap: 50px;
  
  flex-wrap: wrap;

}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.h-w{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.abilities{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  color: white;
}